<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Show</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id='container'>
        <a href="/shows">Go Back</a>
        <div id='info'>
            <h1>TV Show {{show.id}}</h1>
            <h2>Title: {{show.title}}</h2>
            <h2>Network: {{show.network.name}}</h2>
            <h2>Release Date: {{show.release_date}}</h2>
            <h2>Description: {{show.description}}</h2>
            <h2>Last Updated: {{show.updated_at}}</h2>
        </div>
        <a href="{{show.id}}/edit">Edit</a> |
        <a href="{{show.id}}/delete">Delete</a>
    </div>
</body>

</html>